// Dynamic Island styling
.dynamic-island {
  margin-top: 6px;
  margin-bottom: 6px;
  border: 2px solid #006700;
  border-radius: 20px;
  background-color: transparent;

  .dynamic-island-inner {
    min-width: 120px;
    min-height: 35px;
    padding: 0 8px;
    border-radius: 20px;
    background-color: rgba(0, 0, 0, 0.85);
    color: white;
    transition: all 200ms ease;
    &:hover {
      min-width: 300px;
      background-color: rgba(204, 0, 0, 0.95);
    }
  }

  .dynamic-island-content {
    padding: 6px;

    .dynamic-island-indicator {
      min-width: 8px;
      min-height: 8px;
      border-radius: 50%;
      background-color: #00ff00;
      animation: pulse 2s infinite;
      margin-top: 8px;
      margin-bottom: 8px;
    }
  }
}

@keyframes pulse {
  0% {
    opacity: 0.5;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0.5;
  }
}
