.notification-container {
  &.critical > .header {
    color: #ff2323;
  }
  &.low > .header {
    color: #36a8ff;
  }

  button.close-button {
    padding: 1px;
    margin-left: 8px;
  }
  padding: 2px;
  .header {
    padding: 5px 0;
    border-bottom: 1px;
    border-color: grey;
    border-style: solid;
  }

  .app-icon {
    margin-right: 5px;
  }

  .app-name {
    margin-left: 0px;
  }

  .content {
    padding: 4px 0;
  }

  .content .summary {
    font-size: 16px;
    font-weight: 500;
  }
}
