.osd {
  min-width: 1px;
  min-height: 1px;
  background: transparent;

  label {
    margin-top: 5px;
    font-size: 17px;
  }

  .container {
    background-color: #262626;
    padding: 15px 10px 10px 10px;
    border-radius: 10px;
  }
  .slider {
    min-height: 200px;
  }
}
