.osd {
  min-width: 1px;
  min-height: 1px;
  background: transparent;

  label {
    margin-top: 10px;
    font-size: 1.4rem;
  }

  .container {
    background-color: rgba(0, 0, 0, 1);
    padding: 15px 10px 20px 10px;
    border-radius: 10px;
  }
  .slider {
    background-color: transparent;
    min-height: 200px;
  }
}
