@use "sass:color";

.power-menu-container {
  min-width: 250px;
  background-color: transparent;
  .power-menu {
    border-radius: 200px;
    padding: 5px;
    border-radius: 10px;
    .sys-btn {
      all: unset;
      padding: 10px;
      background-color: black;
      border-radius: 7px;
      border: 1px solid gray;

      tooltip-text {
        background-color: black;
        color: white;
        border-radius: 5px;
        padding: 5px;
      }

      &:selected {
        background-color: red;
      }

      &:hover {
        background-color: color.adjust(rgb(22, 138, 220), $alpha: -0.5);
        color: black;
      }

      icon {
        font-size: 50px;
      }
    }
  }
}
