@use "sass:color";
@import "./components/powermenu.scss";
@import "./components/osd.scss";
@import "./components/guidelines.scss";
@import "./components/dynamicisland.scss";
@import "./components/notification.scss";
@import "./variables.scss";
@import "./components/controlcenter.scss";
@import "./components/calendar.scss";
@import "./components/media.scss";
@import "./components/bar.scss";

// Use the variables in the styles
window {
  background-color: transparent;
  font-size: $FONT-SIZE;
  font-family: "JetBrainsMono";
}
