$bg: #191919;
$fg: #f1f1f1;
$accent: #378df7;
$color_green: #2bf739;
$radius: 4px;
$FONT-SIZE: 12px;

$bar-button-bg-color: #333333;
$bar-button-opacity: 1;
$bar-button-border-width: 1px;
$bar-button-border-color: transparent;
$bar-button-shadow-offset: 0px;
$bar-button-shadow-blur: 0px;
$bar-button-shadow-spread: 0px;
$bar-button-shadow-color: #000000;
$bar-button-shadow-opacity: 1;
$bar-button-fg-color: #ffffff;
$bar-button-border-radius: 4px;
$bar-button-padding: 4px;
$shadow-h: 0px;
$shadow-v: 0px;

// Special
$background: #08080c;
$foreground: #aaabb2;
$cursor: #aaabb2;

// Colors
$color0: #08080c;
$color1: #493028;
$color2: #413945;
$color3: #4e505d;
$color4: #917f7a;
$color5: #b7b5ae;
$color6: #d7af96;
$color7: #aaabb2;
$color8: #555765;
$color9: #493028;
$color10: #413945;
$color11: #4e505d;
$color12: #917f7a;
$color13: #b7b5ae;
$color14: #d7af96;
$color15: #aaabb2;
