$bg: #191919;
$fg: #f1f1f1;
$accent: #378df7;
$color_green: #2bf739;
$radius: 4px;

$bar-button-bg-color: #333333;
$bar-button-opacity: 1;
$bar-button-border-width: 1px;
$bar-button-border-color: transparent;
$bar-button-shadow-offset: 0px;
$bar-button-shadow-blur: 0px;
$bar-button-shadow-spread: 0px;
$bar-button-shadow-color: #000000;
$bar-button-shadow-opacity: 1;
$bar-button-fg-color: #ffffff;
$bar-button-border-radius: 4px;
$bar-button-padding: 4px;
$shadow-h: 0px;
$shadow-v: 0px;
